NEXT_PUBLIC_SITE_URL=https://www.pergoclean.com.tr
NEXT_PUBLIC_COMPANY_NAME=PergoClean

QUOTE_WEBHOOK_URL=
APPOINTMENT_WEBHOOK_URL=
PHOTO_WEBHOOK_URL=
CONTACT_WEBHOOK_URL=

NOTIFICATION_EMAIL=Merhaba@pergoclean.com.tr
WHATSAPP_PRIMARY=905367731404
WHATSAPP_SECONDARY=905309550028
ADMIN_PANEL_PASSWORD=pergoclean-admin
